#Backend port
PORT=4000
HOST=localhost
CONTEXT=""
MONITORING=true
PASSWORD=admin
LOCALE=en
#Backend API
VITE_API_URL=http://localhost:4000
#Google Cloud Agent Config
GOOGLE_CLOUD_PROJECT=your_google_cloud_project_id
GOOGLE_CLOUD_LOCATION=global
GOOGLE_GENAI_USE_VERTEXAI=1
GOOGLE_API_KEY=your_google_cloud_agent_api_key
AGENT_MODEL=gemini-3.1-flash-lite
#SQLLite Config
ENCRYPTION_KEY=your_encryption_key_32_characters_here!
#Node environment
NODE_ENV=development
#Backend Config

